.flexContainer {
  display: flex;
  justify-content: space-between;
}

.flexContainer > div {
  width: 33%;
  padding: 10px;
  margin: 10px;
}
.workGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  grid-template-areas: "project1 someArea someArea";
}
.opening {
  grid-area: someArea;
}
@media only screen and (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
  }

  .flexContainer > div {
    width: 100%;
  }
}
.rotate {
  transition: transform 1s;
  transform: rotate(360deg);
}
